.sign-up-bottom-body{
    margin-top: 100px!important;
	margin-bottom: 100px!important;
}

.sign-up-bottom-span-links{
    font-weight: 700!important;
    color: #333;
}

.terms-agreed-check{
    margin-right: 20px!important;
}

