.sign-up-hourly-body{
    margin-top: 40px!important;
	margin-bottom: 40px!important;
}

.input-hourly-rate{
    min-width: 4px!important;
    font-size: 30px!important;
    font-weight: 300!important;
}