.notification-title{
	font-size: 16px;
	color: #333;
	line-height: 1;
}

.notification-subtitle{
	font-size: 11px;
	color: #888;
	line-height: 0.7;
}

.modal-layout {
	display:flex !important;
	justify-content:space-around !important;
	align-items: center !important;
}


.request-form{
	flex:9 1 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.request-section{
	width: 100%;
	flex:1 1 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin:10px 0;
}

.field{
	flex: 0 1 40% !important;
	font-family: 'Open Sans' !important;
	font-size: 16px;
	margin-right: 20px !important;
}

.value{
	flex:0 1 40% !important ;
	line-height: 1.1 !important ;
	border-radius: 0 !important;
	display: flex !important;
	width:30px !important;
	font-size: 18px;
	font-weight: 200;
	font-family: 'Open Sans' !important;
}


.ui.input input{
	line-height: 1.4 !important;
	border-radius: 0 !important;
	font-size: 18px;
	font-family: 'Open Sans' !important;	
	font-weight: 200;
	width: 40% !important;
}

.DateInput{
	width:180px !important;
}


.notification-crumb{
	cursor: pointer;
	border-radius: 5px;
}

.notification-crumb:hover{
	background-color: rgb(245, 244, 234);
}