.section6-title{
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: 200;
}

.section6-subtitle{
    font-size: 12px;
    font-family: 'Open Sans';
    color: #AAA;
}

.section6-title-semibold{
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.section-six{
    padding: 100px 0!important;
    background-color: #EEE;
}

.section6-seperator{
    height: 2px;
    width: 200px;
    background-color: #E1A435;
}

.section6-content{
    color: #333;
    font-family: 'Open Sans';
    font-size: 13px;
}
