
.sub-heading{
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 40px;
}

.profile-text {
    font-size: 1.1em;
}

.profile-rate {
    font-size:2em;
    font-weight: 100;
}


.profile-picture-form{
    
}