.footer-bottom-background > .centered > .row  {
    padding: 0 !important;
    .fourteen {
        padding-top: 14px;
    }
}
.footer-background{
    background-color: #656656!important;
}

.footer-bottom-background{
    /*position: static;*/
    /*bottom: 0;*/
    background-color: #FBBD08;
}

.logo{
    height: 40px;
}

/* .icon{
    color: #FFF;
    border: 1px solid #FFF;
    margin: 0 15px 0 0 !important;
} */
.footer-elements {
    //padding: 10px;
}
.subscribe-label{
    color: #FBBD08;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 400;
}

.subscribe-subtitle{
    color: #494E50;
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
}


.subscribe-button{
    margin-top: 10px !important;
}

.copyright-text{
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 300;
}

.footer-button{
    color: #FFF!important;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
}

.footer-button-back-to-top{
    color: #FFF!important;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
}